.navbar {
  display: flex;
  flex-direction: column;
  height: 8em;
}

.nav-up {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 25%;
  font-size: small;
}

.phones-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.phones {
  display: flex;
  justify-content: space-between;
  width: 28%;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-transform: uppercase;
}

.up-links, a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-down {
  display: flex;
  justify-content: center;
  height: 75%;
}

.group-down {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.search-bar {
  width: 50%;
}

.search {
  width: 100%;
  height: 2.5em;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  padding: 0em 1em;
  font-size: small;
  background-image: url('/home/mayra/Documentos/moovin/frontend-html/images/lupa.png');
  background-position: 35em;
  background-repeat: no-repeat;
}
