.navbar {
  display: flex;
  flex-direction: column;
  height: 8em;
}

.nav-up {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 25%;
  font-size: small;
}

.phones-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.phones {
  display: flex;
  justify-content: space-between;
  width: 28%;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-transform: uppercase;
}

.up-links, a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.pointer{
  cursor: pointer;
}
